NODE_ENV=development
PORT=4000

# PostgreSQL
# DATABASE_URL="postgresql://postgres:1234@localhost:5432/road_safety?schema=public"
DATABASE_URL="postgresql://postgres@localhost:5432/road_safety?schema=public"
# OpenWeatherMap
WEATHER_API_KEY=bd5e378503939ddaee76f12ad7a97608


# ML Microservice
ML_SERVICE_URL=http://localhost:8000
ML_TIMEOUT_MS=3000

# Frontend CORS
FRONTEND_URL=http://localhost:3000

# Logging
LOG_LEVEL=debug
